<div class="avancement">
  <div class="position-avancement-realise inline-text">
    <i class="fas fa-check-circle tick"></i>
    <p>
      Choix de la <br>police
    </p>
  </div>
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" actif-number">2</p>
    </div>
    <p>
      Tarification
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" actif-number">3</p>
    </div>
    <p>
      Information <br>complémentaires
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      Création <br>police
    </p>
  </div>
</div>
