.inline{
  display : flex;
}

.inline{
  *{
    flex-grow: 1;
  }
  :first-child {
    padding-right: 10px;
  }
}

.inline-date{
  padding-right: 0px;
}

.inline-date-span {
  flex-grow:0;
}

.trois-enfant{
  :nth-child(2) {
    padding-right: 16px;
  }
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-check {
  margin-bottom: 10px;
}
